<!DOCTYPE html>
<html>
  <head>
    <title>Bitdo Web Plugin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/less/index.css">
    {{{block "head"}}}
  </head>
  <body>
      <div id="main">
          {{{body}}}
      </div>
  </body>
</html>
